/filtered_data/filtered_cves
.venv
scripts/data_analysis/.DS_Store
scripts/data_analysis/__pycache__/
scripts/data_analysis/conf/
scripts/data_analysis/config.py
scripts/data_analysis/data/
scripts/data_analysis/installedpackages/
scripts/data_analysis/report/
scripts/data_analysis/testFolder/__pycache__/
scripts/data_analysis/usrLocalLib/
/original_data/json/
/__pycache__