/zip
/json
/filtered_data
.venv
/scripts/__pycache__
/scripts/conf
/scripts/data
/scripts/installedpackages
/scripts/report
/scripts/testFolder
/scripts/usrLocalLib
/scripts/config.py
/scripts/.DS_Store